<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/shop.css">
  </head>
  
  <body >
    <div class="bg-image"></div>
    <div class="cnt">
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center; font-size: 30px; display: none; height: 70px; padding-top: 10px; margin-bottom: 0px" id="suc">
        Payment Success
        <button style="padding-top: 44px; display: none" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="open"></button>
      </div>
      <div class="alert alert-dark alert-dismissible fade show" role="alert" style="text-align: center; font-size: 30px; display: none;height: 70px; padding-top: 10px; margin-bottom: 0px" id="stc">
        Out of Stock!
        <button style="padding-top: 44px; display: none"  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="open2"></button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center; font-size: 30px; display: none;height: 70px; padding-top: 10px; margin-bottom: 0px" id="dan">
        Not Enough Coins!
        <button  style="padding-top: 44 px; display: none" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="open1" ></button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center; font-size: 25px; display: none;height: 70px; padding-top: 10px; margin-bottom: 0px " id="premi">
        Bulk purchase is disabled 
        <button  style="padding-top: 44 px; display: none" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="open1" ></button>
      </div>
    <div id="fi">
      
    <nav class="navbar navbar-expand-lg "  >
      <div class="container-fluid">
        <img src="https://cdn.discordapp.com/attachments/946793823730794588/984508739073740820/unknown.png" alt="" class="imgur"  >
        <div>
        <button style = "color: #fff" class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars" style="font-size:28px;"></i></span>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a id="onlylap" class="nav-link active" aria-current="page" href=""  >Mempo Marketplace</a>
            </li>
            <li class="nav-item">
              <a id="onlylap1" class="nav-link active" aria-current="page" href="/"  >Home</a>
            </li>
            <li class="nav-item">
              <a id="onlylap2" class="nav-link active" aria-current="page" href="/twiter"  >Twitter</a>
            </li>
            <li class="nav-item">
              <a id="onlylap3" class="nav-link active" aria-current="page" href="<%= url %>" >Discord</a>
            </li>
            <% if (user == '') { %>
            <li class="nav-item">
              <a id="onlylap4" class="nav-link active" aria-current="page" href="<%= url %>" >Inventory</a>
            </li>
            <%  } else { %>
              <li class="nav-item">
                <a id="onlylap4" class="nav-link active" aria-current="page" href="/inventory" >Inventory</a>
              </li>
              <%  }  %>
            <%  var flag = 0  %>
            <% if (user != '') { %>
              <%  for(var j =0; j<ids.length; j++) if (ids[j].userId == id)  flag = 1 %>
                <% if (flag == 1) { %>
            <li class="nav-item">
              <a id="onlylap5" class="nav-link active" aria-current="page" href="/admin/add-product" >Admin</a>
            </li>
            <%  }  %>
            <%  }  %>
           
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
  <% if (user == '') { %>
    <div class="lappyhid" style="height: 100px"></div>
    <%  }  %>
    

  <div class="mobhid"><br><br></div>

  <% if (user != '') { %>
      <div style=" height: 140px" >
        
          
         <div id="hid"> <br><br><br><br></div>
         
     
          <div class= "disc1"  ><i class="fa-solid fa-id-badge"></i> <%= user %></div>
          <div class= "disc2"  ><i class="fa-solid fa-coins"></i> <%= coins %> Coins </div>
        
          <div id="hid"> <br><br><br><br></div>
         
         
      </div>
      <%  } else { %>
        <div class="lappyhid" ><br></div>
        <%  } %>
      <!-- <div class="laphid"><br><br></div> -->
      <div class="d-flex" id="dle" >
       <div class="col md 6 mt-3" id="fix">
        <% if (user != '') { %>
          <div class="mob" >
        <div class="lappyhid"><br><br><br></div>
        <%  } else {  %>
          <div class="bom" >
            <% } %>
          
      <h2 class="ms-4" style="font-weight: 900; color: #e5f5f5;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-align-right"></i> Categories</h2>
      <div class="lappyhid">
      <div id="cat" ><i class="fa-solid fa-angle-right"></i> All</div>
      <div id="cat1"  ><i class="fa-solid fa-angle-right"></i> <%- cats[0].categoryOne %></div>
      <div id="cat2"  ><i class="fa-solid fa-angle-right"></i> <%- cats[0].categoryTwo %></div>
      <div id="cat3"  ><i class="fa-solid fa-angle-right"></i> <%- cats[0].categoryThree %></div>
    </div>
        <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #101518; color: #fff" >
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Categories</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div id="mcat" ><i class="fa-solid fa-angle-right"></i> All</div>
                <div id="mcat1"  ><i class="fa-solid fa-angle-right"></i> <%- cats[0].categoryOne %></div>
                <div id="mcat2"  ><i class="fa-solid fa-angle-right"></i> <%- cats[0].categoryTwo %></div>
                <div id="mcat3"  ><i class="fa-solid fa-angle-right"></i> <%- cats[0].categoryThree %></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    
      <% if (user != '') { %>
        <div class="col-md-8 col-sm-12 p-3 scroll-row" id="big" >
          <%  } else { %>
            
      <div class="col-md-8 col-sm-12 p-3 scroll-row" id="big" style="height: 650px">
           <%  }  %>
          
        <div class="container fluid" id="gobottom">
          <div class="row fluid">
            
           <% var i =0 %>
          <% prod.forEach(x => { i++; %>
            <% if (user == '') { %>
              
            <div data-bs-toggle="modal" onclick="window.location=`<%= url %>`" data-bs-target="#exampleModal<%= i %>" class=" p-3 me-3" style="width: 18rem; height: 353px;  margin-bottom: 35px; border-radius: 10px;  border-left: 20px solid #fff;border-top: 20px solid #fff; border-bottom: 45px solid transparent;" id="ex">
              <%  } else { %>
                <div data-bs-toggle="modal"  data-bs-target="#exampleModal<%= i %>" class=" p-3 me-3" style="width: 18rem; height: 353px;  margin-bottom: 35px; border-radius: 10px;  border-left: 20px solid #fff;border-top-width: 500px    ;border-top: 20px solid #fff; border-bottom: 45px solid transparent; " id="ex">
                
                  
                  <%  }  %>  
              <img src="assets/<%= x.url %>" id="<%= i %>im" class="card-img-top" alt="..." style="height: 170px; width: 100%;  border-top-right-radius: 10px; border-top: 5px solid white; border-left: 5px solid white; border-right: 5px solid white;">
              <div class="cardy">
              <div  style="text-align: center">
                <% if (x.premium == true) { %>
                  <i class="fa-solid fa-star" data-bs-placement="top" id="<%= i %>prem" title="Premium"></i></i>
                  <%  }  else { %>  
                    <i class="fa-solid fa-circle" data-bs-placement="top" id="<%= i %>prem" title="Usual"></i></i>
                    <%  }  %>  
                    <h class="card-title" style="font-size: 25px; " id="<%= i %>nt"><%= x.name %></h>
             
                <div class="card-text" style="align-items: center">
                  <div class="cos" style="font-size: 25px; " >
                    <span id="<%= i %>ct"><%= x.cost %></span> Coins <i class="fa-solid fa-coins"></i>
                  </div>
                  <div class="cos" style="font-size: 15px; " >
                    <span id="<%= i %>st"><%= x.stock %></span> Remaining
                  </div>
                  <i class="fa-solid fa-align-right"></i> <small  style="font-size: 18px;  margin-top: 10px; margin-right: 160px;" id="<%= i %>categ"><%= x.category %></small>
                </div>
 
              </div>
            </div>
            </div>
       
            <% }) %>
            <div data-bs-toggle=""  data-bs-target="" class=" p-3 me-3" style="width: 18rem; height: 353px;  margin-bottom: 35px; border-radius: 10px;  border-left: 20px solid transparent;border-top-width: 500px    ;border-top: 20px solid transparent; border-bottom: 45px solid transparent; border-bottom: none;" id="ex">
            
         
          <div class="cardy" style="border: none ">
          <div  style="text-align: center">
            <h class="card-title" style="font-size: 30px; color: transparent; background-color: transparent;" id=""></h>
         
            <div class="card-text" style="align-items: center; color: transparent; background-color: transparent;">
              <div class="cos" style="font-size: 25px; color: transparent; background-color: transparent;" >
                <span id=""></span> 
              </div>
              <div class="cos" style="font-size: 15px; color: transparent; background-color: transparent;" >
                <span id=""></span> 
              </div>
             <small  style="font-size: 18px;  margin-top: 10px; margin-right: 160px; color: transparent; background-color: transparent;"></small>
            </div>

          </div>
        </div>
        </div>
        </div>
        </div>

        <div data-bs-toggle=""  data-bs-target="" class=" p-3 me-3" style="width: 18rem; height: 353px;  margin-bottom: 35px; border-radius: 10px;  border-left: 20px solid transparent;border-top-width: 500px    ;border-top: 20px solid transparent; border-bottom: 45px solid transparent; border-bottom: none;" id="ex">
            
         
          <div class="cardy" style="border: none ">
          <div  style="text-align: center">
            <h class="card-title" style="font-size: 30px; color: transparent; background-color: transparent;" id=""></h>
         
            <div class="card-text" style="align-items: center; color: transparent; background-color: transparent;">
              <div class="cos" style="font-size: 25px; color: transparent; background-color: transparent;" >
                <span id=""></span> 
              </div>
              <div class="cos" style="font-size: 15px; color: transparent; background-color: transparent;" >
                <span id=""></span> 
              </div>
             <small  style="font-size: 18px;  margin-top: 10px; margin-right: 160px; color: transparent; background-color: transparent;"></small>
            </div>

          </div>
        </div>
        </div>
        </div>
        </div>

        <% var i =0 %>
          <% prod.forEach(k => { i++; %>
        <div class="modal fade" id="exampleModal<%= i %>" tabindex="<%= i-2 %>" aria-labelledby="exampleModalLabel<%= i %>" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel<%= i %>" >
                  <%= k.name %>
                  
                  
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="font-size: 17px">
               
                <h5 id="<%= i %>desc" style="overflow-wrap: break-word;"> <%= k.description %> </h5> 
                Item: <%= k.name %> <br>
                Cost: <%= k.cost %> coins <br> 
                Are you sure you want to buy? <br>
                 
                
              </div>
              <div class="modal-footer">
                <button data-bs-dismiss="modal" type="button" class="btn btn-primary" id="<%= i %>yt"><a href="#" style="text-decoration: none; color:#e5f5f5" >Yes</a></button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c5d7c8bb5c.js" crossorigin="anonymous"></script>
   <script>
    window.onload = () => {
     var uniqueCheck
     if (`<%- unique %>` != '') {
       uniqueCheck = JSON.parse(`<%- unique %>`)
     }
     document.getElementById('open').addEventListener('click', () => {
        window.location.href = '/'
     })
     document.getElementById('open1').addEventListener('click', () => {
        window.location.href = '/'
     })
     document.getElementById('open2').addEventListener('click', () => {
        window.location.href = '/'
     })
     document.getElementById(`cat`).addEventListener('click', () => {
         document.cookie = "cat=cat"
         window.location.href = '/'
     })
    
     


      document.getElementById(`cat1`).addEventListener('click', () => {
           document.cookie = "cat=<%- cats[0].categoryOne %>"
           window.location.href = '/'
      })
      document.getElementById(`cat2`).addEventListener('click', () => {
          document.cookie = "cat=<%- cats[0].categoryTwo %>"
          window.location.href = '/'
      })
      document.getElementById(`cat3`).addEventListener('click', () => {
          document.cookie = "cat=<%- cats[0].categoryThree %>"
          window.location.href = '/'
      })
 




      document.getElementById(`mcat`).addEventListener('click', () => {
         document.cookie = "cat=cat"
         window.location.href = '/'
      })
      document.getElementById(`mcat1`).addEventListener('click', () => {
          document.cookie = "cat=<%- cats[0].categoryOne %>"
          window.location.href = '/'
      })
      document.getElementById(`mcat2`).addEventListener('click', () => {
          document.cookie = "cat=<%- cats[0].categoryTwo %>"
          window.location.href = '/'
      })
      document.getElementById(`mcat3`).addEventListener('click', () => {
          document.cookie = "cat=<%- cats[0].categoryThree %>"
          window.location.href = '/'
      })


     

     
    if (`<%- user %>` !== '') {
      console.log(`This is user <%= user %>`)
      var p=0; 
      let a = '<%- coins %>'
      for(var j =0; j<`<%- prod.length %>`; j++) { ( function() { 
            p++;
            var n = document.getElementById(`${p}nt`).innerText
            var t = p
            var q = Number(document.getElementById(`${p}ct`).innerText)
            var pre = document.getElementById(`${p}prem`).title
            var des = Number(document.getElementById(`${p}desc`).innerText)
            var r = Number(document.getElementById(`${p}st`).innerText)
            var cat = document.getElementById(`${p}categ`).innerText
            var ur = document.getElementById(`${p}im`).src.slice(document.getElementById(`${p}im`).src.indexOf('/assets')+8)
            document.getElementById(`${p}yt`).addEventListener('click', () => {
              var flag=0
              uniqueCheck.forEach(el => {
                if (el.category == cat && el.name == n) {
                  document.getElementById('premi').style.display="block";
                  setTimeout(() => {
                    window.location.href='/'
                  }, 500)
                  flag=1
                }
              })
            if (flag == 0) {
            
              if (r <= 0) {
                document.getElementById('stc').style.display="block";
                setTimeout(() => {
                  window.location.href='/'
                }, 500)
              }
              else if (Number(a) >= q) {
                  document.getElementById('suc').style.display="block";  
                  const res =  fetch(`/`, {
                  method: "POST",
                  headers: {
                    'Accept': 'application/json',
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    "id" : t,
                    "name" : n,
                    "description" : des,
                    "cost" :  a - q,
                    "realCost" : q,
                    "red" : true,
                    "stock" : r,
                    "category" : cat,
                    "url" : ur,
                    "premium" : pre == 'Premium' ? true : false 
                  }),
                }).then(res => {  
                    if (res.status !== 200) {
                        console.log("error")
                    } else {
                    
                      res.json().then(data => {
                        console.log(data)
                      })
                    }
                  })
                setTimeout(() => {
                  window.location.href='/'
                }, 500)
              }
              else {
                document.getElementById('dan').style.display="block";
                setTimeout(() => {
                  window.location.href='/'
                }, 500)
              }
            }
          })
      })()}
    }
  }
   </script>
  </body>
</html>